html{

}
#container{
    background-color: #434343;
    margin-bottom: -200px;
    height: 1000px;
}
#main{
    margin-top: 10px;
}
#left{
    float: left;
    margin-left: 10px;
    width: 200px;
}
#center{
    float: left;
    margin-left: 300px;
    width: 200px;
    
    
    
}
#right{
    float: left;
    margin-left: 300px;
    width: 200px;
}

.one{
    margin-bottom: 10px;
    float: left;
   
}

#lehena{
    margin-left: 500px;
    width: 300px;
    height: 445px;
    margin-bottom: 30px;
}
#text1{
    border: 1px solid black;
    width: 500px;
    margin-left: 400px;
}

#bigarrena{
    margin-left: 500px;
    width: 300px;
    height: 445px;
    margin-bottom: 30px;
}
#hirugarrena{
    margin-left: 500px;
    width: 300px;
    height: 445px;
    margin-bottom: 30px;
}

#laugarrena{
    margin-left: 500px;
    width: 300px;
    height: 445px;
    margin-bottom: 30px;
}
#bostgarrena{
    margin-left: 500px;
    width: 300px;
    height: 445px;
    margin-bottom: 30px;
}
.two{
    margin-bottom: 10px;
    float: left;
    margin-left: 350px;
}
.three{
    margin-bottom: 10px;
    float: left;
    margin-left: 180px;
    
}
