/* this is a comment*/
#rigth{
    float: left;
}
#left{
    float: right;
    
}
#top{
    float: left;
    margin-top: 300px;
    margin-left:-140px;
}
#button{
    float: right;
    margin-top: 300px;
    margin-right: -120px;
}
body{
    background-color:wheat; 
}